.productRecommend{
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
  background: whitesmoke;
  
}

.productRecommend .containers{
    position: relative;
    width: 100%;
    padding: 15px;
    background: none;
    margin: 0 auto;
}
.productRecommend .containers h5{
    position: relative;
    width: 100%;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0px;
    padding: 0 10px;
    color: crimson;
}
.productRecommend .containers h2{
    position: relative;
    width: 100%;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 0 10px;
    color: #555;
}

.productRecommend .containers .cardHolder{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
}
.productRecommend .containers .cardHolder .card{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
    flex-direction: row;
    border: none;
    border-radius: 0;
    background: none;
}

.productRecommend .containers .cardHolder .card .prdData{
    position: relative;
    width: 100%;
    background:white;
    display: grid;
    align-content: end;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 20px;
}

.productRecommend .cardHolder .card .prdData img{
    position: relative;
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin: 10px 0;
    margin-bottom: 20px;
    background: none;
    padding: 10px;
}
.productRecommend .cardHolder .card .prdData h6{
    position: relative;
    width: 100%;
    padding: 10px 15px;
    font-family: 'poppins',sans-serif;
    font-weight: 400;
}
.productRecommend .cardHolder .card .prdData h3{
    position: relative;
    width: 100%;
    margin: 10px 0;
    font-size: 1.6rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;

}
.productRecommend .cardHolder .card .prdData a{
    position: relative;
    width: 100%;
    padding: 15px;
    border: none;
    background: rgb(46, 46, 46);
    text-decoration: none;
    color: white;
    border-radius: 0px 0px 20px 20px;
    z-index: 1;
}
.productRecommend .cardHolder .card .prdData a:hover{
    background: #111;
}
.productRecommend .cardHolder .card .btnBox{
    position: absolute;
    width: auto;
    height:100%;
    right: 0;
    background:none;
    padding: 10px;
    z-index: 0;
}
.productRecommend .cardHolder .card .btnBox button{
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #c7c7c7;
    background: none;
    color:#222;
    border-radius: 100%;
    /* box-shadow: 1px 1px 4px rgba(0,0,0,0.3); */
}
